*{
    font-family: cursive;
}

body{
    background-color: rgb(62, 127, 115);
}

h1{
display: flex;
justify-content: center;
align-items: center;
color: white;
}

h3{
display: flex;
justify-content: center;
align-items: center;
color: rgb(0, 0, 0);
}

.container{
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 20px;
}

.button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    border-radius: 30px;
    display: inline-block;
}

#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
#orange{
    background-color: orange;
}
#blue{
    background-color: blue;
}
#pink{
    background-color: pink;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
}
