* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #283E51, #0A2342);
    color: #fff;
}

.container {
    text-align: center;
    padding: 40px;
    background: linear-gradient(135deg, #FF8C00, #FF4500);
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.container:hover {
    transform: scale(1.05);
}

h1 {
    margin-bottom: 40px;
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
}

#clock {
    font-size: 60px;
    font-weight: bold;
    color: #00FF7F;
    margin: 20px 0;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#timezone {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 30px;
}

#timezone:hover {
    background-color: #555;
}

option {
    background-color: #212121;
    color: #fff;
}

/* Add a subtle bounce effect on hover */
.container:hover {
    transform: translateY(-5px);
}

footer{
    position: absolute;
    bottom: 10px;
}

footer p {
    margin: 0;
}

footer a {
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
}

footer a:hover {
    color: #4CAF50; 
    text-decoration: underline; 
}